<!DOCTYPE html>
<html>
<head>
    <title>Giriş</title>
</head>
<body>
<h2>Giriş / Kayıt</h2>

<form method="POST">
    <input name="username" placeholder="Kullanıcı adı">
    <input name="password" type="password" placeholder="Şifre">
    <button>Giriş</button>
</form>

<form action="/register" method="POST">
    <input name="username" placeholder="Yeni kullanıcı">
    <input name="password" type="password" placeholder="Şifre">
    <button>Kayıt Ol</button>
</form>
</body>
</html>
